body {
    font-family: 'Oswald', sans-serif;
    background-image: url('../Images/background.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #333;
}

#app {
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1px;
    background-color: rgba(201, 225, 233, 0.8);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.card-custom {
    background-color: rgb(28, 30, 32);
    border: 2px solid #53b8ea;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 10px;
}
h1 {
    color: rgb(26, 180, 231);
    text-align: left;
    margin-bottom: 30px;
}

.form-label {
    margin-bottom: .5rem;
}

.form-control {
    width: 100%; /* Повна ширина */
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.form-select {
    width: 100%;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: 1rem;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: .375rem .75rem;
    border-radius: .25rem;
    cursor: pointer;
}

#send-button {
    padding: 5px 20px; 
}

